.sidebar__header {
    display: flex;
    padding: 20px;
   
}
.Footbar-container {
    
    position: absolute;
    font-family: sans-serif;
    width: auto;
  }
 .Footbar-container a {
    
    display: inline;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: x-large;
    
  }
  
  .option {
      padding: 20px;
  }
  
  
  
  