#project-box {
    
    
    width: 400px;
    margin: 10px;
    border-radius:2rem;
    min-width: 200px;
    background-color: rgba(255, 255, 255, .5); 
    backdrop-filter: blur(10px);
}
#project-box p {
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
}
#project-img {
    width:80%;
    margin-bottom:25px;
    margin-left:25px;
    border-radius:4px;
    
}
#project-box h3 {
    text-align: center;
}
@media only screen
  and (max-width : 720px) {
    #project-box {
        width:100%;
        height:90vh;
    }
}
