
.skills-div {
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    background-color: rgb(247, 191, 140);
    border-radius: 2rem;
    margin:25px;
    height: 100%;
    
  }
  #skills-list {
    list-style-type: none;
    text-align: left;
    display: inline-flex;
    flex-wrap: wrap;
    
  }
  .skill-box {
    width: 48%;
    max-width: 500px;
    height: 100%;
    background-color: rgba(255, 255, 255, .5); 
    backdrop-filter: blur(10px);
    margin-right: 25px;
    margin: 10px;
    border-radius:2rem;
    text-align: center;
    
  }
.summary {
  width: 25%;
  margin-top: 100px;
  margin-left:25px;
}
#skill-app {

  margin:10px;
  flex:1;
  
  
}
 // Custom scaling for different mobile devices
  @media only screen
  and (max-width : 360px) {

    // Moto G4 and Galaxy S5
      .summary {
        
        width:310px;
        
        margin:auto;
        
        margin-top:125px;
        padding-top:10px;
      }
      .summary-page {
        border: solid black 1px;
        height: 500px;
      }
      .skills-div {
        height:600px;
        width:310px;
        
      }
      
      .skill-box {
        
        
        
        width: 45%;
        height: 47.5%;
        
        
        border-radius: 2rem;
        
        margin:auto;
      } 
    

}
  